.ssc-container h1{
    text-align: center;
    color: blueviolet;
    margin-top: 10px;
    margin-bottom: 40px;
}
.accordion.completed {
    border: 2px solid green;
    border-radius: 7px;
  }

  .accordian-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .accordion{
    width: 50%;
    margin-bottom: 20px;
  }

  @media only screen and (max-width: 600px) {
    .accordion{
        width: 95%;
    }
    .drop-images{
      width: 100%;
    }
  }